<% @title="Liste des articles" %>
<!-- component -->

<section class="h-screen w-screen bg-gradient-to-br from-pink-50 to-indigo-100 p-8">

    <div
        class="grid justify-center md:grid-cols-2 lg:grid-cols-3 gap-5 lg:gap-7 my-2">
        <!-- Card 1 -->
        <% @Articles.each do |article| %>

            <div class="bg-white rounded-lg border shadow-md max-w-xs md:max-w-none overflow-hidden">
                <% if article.heroImg.attached? %>
                    <%= image_tag(article.heroImg, class:"w-full h-100 p-2") %>
                <% else %>
                    <p class="">Pas d'image de couverture</p>
                <% end %>


                <div class="p-3">
                    <span class="text-sm text-primary"><%= article.published %></span>
                    <h3 class="font-semibold text-xl leading-6 text-gray-700 my-2">
                        <%= article.title %>
                    </h3>
                    <p class="paragraph-normal text-gray-600">
                        <%= link_to article_path(article), class:"hover:text-black text-black no-underline" do %>
                            <%= truncate(strip_tags(article.content.to_s.html_safe), length: 600) %>
                            <span class="bg-blue-300" id="start-reading">
                                <i class="mx-2">Lire plus >>
                                </i>
                            </span>
                        <% end %>
                    </p>
                </div>
            </div>
        <% end %>

    </div>
</section>

