<div id="<%= dom_id benevol %>">
  <p>
    <strong>Full name:</strong>
    <%= benevol.full_name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= benevol.role %>
  </p>

  <p>
    <strong>Link fb:</strong>
    <%= benevol.link_fb %>
  </p>

  <p>
    <strong>Link tw:</strong>
    <%= benevol.link_tw %>
  </p>

  <p>
    <strong>Link ldin:</strong>
    <%= benevol.link_ldin %>
  </p>

  <p>
    <strong>Img:</strong>
    <%= benevol.img %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= benevol.status %>
  </p>

</div>
