<% @title="Liste des benevols" %>
<div class="row row-cols-1 row-cols-md-2 g-4 chefs" id="chefs">
    <% @Benevols.each do |bl| %>
        <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
                <% if bl.img.attached? %>
                    <%= image_tag(bl.img ,class:"img-fluid")%>
                <% else %>
                    <%= image_tag "media/1.jpeg", class:"img-fluid", alt:"" %>
                <% end %>
                <div class="member-info">
                    <div class="member-info-content">
                        <h4><%= bl.full_name %> - <%= link_to 'Voir profil', benevol_path(bl) %> </h4>
                        <span><%= bl.role %> </span>
                    </div>
                    <div class="social">
                        <a href="<%= bl.link_tw %>">
                            <i class="bi bi-twitter"></i>
                        </a>
                        <a href="<%= bl.link_fb %>">
                            <i class="bi bi-facebook"></i>
                        </a>

                        <a href="<%= bl.link_ldin %>">
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    <% end %>

</div>
