<div id="<%= dom_id term %>">
  <p>
    <strong>Name:</strong>
    <%= term.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= term.content %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= term.slug %>
  </p>

  <p>
    <strong>User:</strong>
    <%= term.user_id %>
  </p>

</div>
