<div id="<%= dom_id culture %>">
  <p>
    <strong>Name:</strong>
    <%= culture.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= culture.content %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= culture.slug %>
  </p>

  <p>
    <strong>User:</strong>
    <%= culture.user_id %>
  </p>

</div>
