<% @title="Fonctionnement Action +" %>

<!-- Header -->
<%= render "welcome/shared/header" %>


<div id="privacies" class="mt-32">
    <div>
        <% if @cultures.empty? %>
<%= link_to "Rediger article", "article-fonctionnement", class:"bg-blue-600 text-white font-bold rounded-md  py-3 px-2" %>


            <div class="mx-auto md:w-2/3 w-full ">
                <h3 class="font-semibold">
                    L'article sera disponble bientot</h3>
            </div>

        <% end %>
        <% @cultures.publish.each do |culture| %>

            <div class="mx-auto md:w-2/3 w-full my-20">
                <div class="my-4 font-bold text-xl">
                    <%= culture.name %>
                </div>
                <div class="text-md border p-2">
                    <%= culture.content %>
                </div>

                <% if user_signed_in? %>
                    <div class="flex w-33 mt-2">
                        <%= link_to "Editer Article", edit_culture_path(culture), class:"bg-blue-600 font-bold p-2 text-white rounded-md" %>
                        |<%= button_to "Supprimer Article", culture, method: :delete, class:"bg-red-600 font-bold p-2 text-white rounded-md" %>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
</div>

