<div id="<%= dom_id chart %>">
  <p>
    <strong>Name:</strong>
    <%= chart.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= chart.content %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= chart.slug %>
  </p>

  <p>
    <strong>User:</strong>
    <%= chart.user_id %>
  </p>

</div>
