<%= form_with(model: chart) do |form| %>
    <% if chart.errors.any? %>
        <div style="color: red">
            <h2><%= pluralize(chart.errors.count, "error") %>
                prohibited this privacy from being saved:</h2>

            <ul>
                <% chart.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="my-2">
        <%= form.text_field :name , placeholder:" Titre Article", 
    class:"block rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div>
        <%= form.rich_text_area :content, placeholder:"Rediger Article",
    class:"block rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-1">
        <%= form.label 'Status:' %>
        <br>
            <%= form.select(:slug, Privacy::STS, { prompt: "Choisir" }, class:" bg-white border-blue-500 rounded-md select") %>
        </div>


        <div class="my-4 ">
            <%= form.submit "Créer Article", class:"btn btn-primary p-2 bg-blue-600 text-white" %>
        </div>
    <% end %>

