<div id="<%= dom_id bemembership %>">
  <p>
    <strong>First name:</strong>
    <%= bemembership.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= bemembership.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= bemembership.email %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= bemembership.country %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= bemembership.contact %>
  </p>

  <p>
    <strong>Terms:</strong>
    <%= bemembership.terms %>
  </p>

  <p>
    <strong>Citytown:</strong>
    <%= bemembership.citytown %>
  </p>

  <p>
    <strong>Nationality:</strong>
    <%= bemembership.nationality %>
  </p>

  <p>
    <strong>Matrimonial:</strong>
    <%= bemembership.matrimonial %>
  </p>

  <p>
    <strong>Professeion:</strong>
    <%= bemembership.professeion %>
  </p>

  <p>
    <strong>Employer:</strong>
    <%= bemembership.employer %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= bemembership.source %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= bemembership.gender %>
  </p>

</div>
