<p style="color: green"><%= notice %></p>

<%= render @bemembership %>

<div>
  <%= link_to "Edit this bemembership", edit_bemembership_path(@bemembership) %> |
  <%= link_to "Back to bememberships", bememberships_path %>

  <%= button_to "Destroy this bemembership", @bemembership, method: :delete %>
</div>
