<div id="<%= dom_id privacy %>">
  <p>
    <strong>Name:</strong>
    <%= privacy.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= privacy.content %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= privacy.slug %>
  </p>

  <p>
    <strong>User:</strong>
    <%= privacy.user_id %>
  </p>

</div>
