<%= render "welcome/shared/header" %>
<div id="<%= dom_id campagne %>">
    <!-- ====== Blog Details Section Start -->
    <section class="pt-20 lg:pt-[120px] pb-10 lg:pb-20">
      <div class="container">
        <div class="flex flex-wrap justify-center -mx-4">
          <div class="w-full px-4">
            <div
              class="
                relative
                rounded
                overflow-hidden
                z-20
                mb-[60px]
                h-[300px]
                md:h-[400px]
                lg:h-[500px]
                wow
                fadeInUp
              "
              data-wow-delay=".1s
              "
            >
              
              <% if campagne.heroImg.attached? %>
                <div class="w-full h-full object-cover object-center">
                  <%= image_tag(campagne.heroImg, alt:"image", class:"w-full h-full object-cover object-center") %>
                </div>
              <% else %>
                <%= image_tag "media/4.jpeg", alt:"image", class:"w-full h-full object-cover object-center" %>
              <% end %>
              <div
                class=" absolute w-full h-full top-0  left-0  flex  items-end z-10
                    bg-gradient-to-t from-dark-700  to-transparent">
                <div class="flex flex-wrap items-center p-4 sm:p-8 pb-4">
                  <div class="flex items-center mb-4 mr-5 md:mr-10">
                    <div class="w-10 h-10 rounded-full overflow-hidden mr-4">
                    <% if campagne.user.avatar.attached? %>
                      <%= image_tag(campagne.user.avatar) %>
                      <% else %>
                      <%= image_tag "media/3.jpeg", alt:"image", class:"w-full" %>
                    <% end %>
                    </div>
                    <p class="text-base text-white font-medium">
                      par
                      <a
                        href="javascript:void(0)"
                        class="text-white hover:opacity-70"
                      >
                        <%= campagne.user.full_name %>
                      </a>
                    </p>
                  </div>
                  <div class="flex items-center mb-4">
                    <p
                      class="
                        flex
                        items-center
                        text-sm
                        font-medium
                        text-white
                        mr-5
                        md:mr-8
                      "
                    >
                      <span class="mr-3">
                        <svg
                          width="15"
                          height="15"
                          viewBox="0 0 15 15"
                          class="fill-current"
                        >
                          <path
                            d="M3.8958 8.67529H3.10715C2.96376 8.67529 2.86816 8.77089 2.86816 8.91428V9.67904C2.86816 9.82243 2.96376 9.91802 3.10715 9.91802H3.8958C4.03919 9.91802 4.13479 9.82243 4.13479 9.67904V8.91428C4.13479 8.77089 4.03919 8.67529 3.8958 8.67529Z"
                          />
                          <path
                            d="M6.429 8.67529H5.64035C5.49696 8.67529 5.40137 8.77089 5.40137 8.91428V9.67904C5.40137 9.82243 5.49696 9.91802 5.64035 9.91802H6.429C6.57239 9.91802 6.66799 9.82243 6.66799 9.67904V8.91428C6.66799 8.77089 6.5485 8.67529 6.429 8.67529Z"
                          />
                          <path
                            d="M8.93779 8.67529H8.14914C8.00575 8.67529 7.91016 8.77089 7.91016 8.91428V9.67904C7.91016 9.82243 8.00575 9.91802 8.14914 9.91802H8.93779C9.08118 9.91802 9.17678 9.82243 9.17678 9.67904V8.91428C9.17678 8.77089 9.08118 8.67529 8.93779 8.67529Z"
                          />
                          <path
                            d="M11.472 8.67529H10.6833C10.5399 8.67529 10.4443 8.77089 10.4443 8.91428V9.67904C10.4443 9.82243 10.5399 9.91802 10.6833 9.91802H11.472C11.6154 9.91802 11.711 9.82243 11.711 9.67904V8.91428C11.711 8.77089 11.5915 8.67529 11.472 8.67529Z"
                          />
                          <path
                            d="M3.8958 11.1606H3.10715C2.96376 11.1606 2.86816 11.2562 2.86816 11.3996V12.1644C2.86816 12.3078 2.96376 12.4034 3.10715 12.4034H3.8958C4.03919 12.4034 4.13479 12.3078 4.13479 12.1644V11.3996C4.13479 11.2562 4.03919 11.1606 3.8958 11.1606Z"
                          />
                          <path
                            d="M6.429 11.1606H5.64035C5.49696 11.1606 5.40137 11.2562 5.40137 11.3996V12.1644C5.40137 12.3078 5.49696 12.4034 5.64035 12.4034H6.429C6.57239 12.4034 6.66799 12.3078 6.66799 12.1644V11.3996C6.66799 11.2562 6.5485 11.1606 6.429 11.1606Z"
                          />
                          <path
                            d="M8.93779 11.1606H8.14914C8.00575 11.1606 7.91016 11.2562 7.91016 11.3996V12.1644C7.91016 12.3078 8.00575 12.4034 8.14914 12.4034H8.93779C9.08118 12.4034 9.17678 12.3078 9.17678 12.1644V11.3996C9.17678 11.2562 9.08118 11.1606 8.93779 11.1606Z"
                          />
                          <path
                            d="M11.472 11.1606H10.6833C10.5399 11.1606 10.4443 11.2562 10.4443 11.3996V12.1644C10.4443 12.3078 10.5399 12.4034 10.6833 12.4034H11.472C11.6154 12.4034 11.711 12.3078 11.711 12.1644V11.3996C11.711 11.2562 11.5915 11.1606 11.472 11.1606Z"
                          />
                          <path
                            d="M13.2637 3.3697H7.64754V2.58105C8.19721 2.43765 8.62738 1.91189 8.62738 1.31442C8.62738 0.597464 8.02992 0 7.28906 0C6.54821 0 5.95074 0.597464 5.95074 1.31442C5.95074 1.91189 6.35702 2.41376 6.93058 2.58105V3.3697H1.31442C0.597464 3.3697 0 3.96716 0 4.68412V13.2637C0 13.9807 0.597464 14.5781 1.31442 14.5781H13.2637C13.9807 14.5781 14.5781 13.9807 14.5781 13.2637V4.68412C14.5781 3.96716 13.9807 3.3697 13.2637 3.3697ZM6.6677 1.31442C6.6677 0.979841 6.93058 0.716957 7.28906 0.716957C7.62364 0.716957 7.91042 0.979841 7.91042 1.31442C7.91042 1.649 7.64754 1.91189 7.28906 1.91189C6.95448 1.91189 6.6677 1.6251 6.6677 1.31442ZM1.31442 4.08665H13.2637C13.5983 4.08665 13.8612 4.34954 13.8612 4.68412V6.45261H0.716957V4.68412C0.716957 4.34954 0.979841 4.08665 1.31442 4.08665ZM13.2637 13.8612H1.31442C0.979841 13.8612 0.716957 13.5983 0.716957 13.2637V7.16957H13.8612V13.2637C13.8612 13.5983 13.5983 13.8612 13.2637 13.8612Z"
                          />
                        </svg>
                      </span>
                        <%= campagne.start_date %>
                    </p>

                    
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-wrap -mx-4">
              <div class="w-full lg:w-8/12 px-4">
                <div>
                  <h2 class="font-bold text-dark text-[26px] sm:text-3xl md:text-4xl leading-snug sm:leading-snug md:leading-snug mb-6 wow fadeInUp" data-wow-delay=".1s">
                    <%= campagne.title %>
                  </h2>
                  <p
                    class="
                      text-base text-body-color
                      leading-relaxed
                      mb-8
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s"
                  >
                    <%= campagne.content %>
                  </p>

                  <div class="flex flex-wrap items-center -mx-4 mb-12">
                    
                    
                  </div>
                </div>
              </div>
               
              <div class="w-full lg:w-4/12 px-4">
                <div>
                  <div
                    class="
                      mb-12
                      bg-primary
                      rounded
                      relative
                      overflow-hidden
                      text-center
                      py-[60px]
                      px-11
                      lg:px-8
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s
                    "
                  >
                    <h3 class="font-semibold text-white mb-2 text-2xl">
                      Fait un don
                    </h3>
                    <p class="text-base text-white mb-8">
                      Votre Don sera entierement utilisé pour financer d'autres projets.
                    </p>
                    <button type="button" class="btn-book animated fadeInUp 
                          scrollto text-white bg-red-500 hover:bg-red-400 focus:outline
                          focus:ring-4 focus:ring-red-300 font-bold rounded-b-xl rounded-tr-xl text-xl px-5
                            py-2.5 text-center mr-2 mb-2 uppercase" data-bs-toggle="modal" data-bs-target="#action-staticBackdrop">
                                    fait un don
                  </button>
                      <%= link_to "Adherer", adhesion_path, class:" bg-green-400 w-full text-center h-[50px] text-sm font-medium text-white rounded mb-6 px-4 py-2 cursor-pointer hover:shadow-lg hover:bg-opacity-90 transition duration-300 ease-in-out" %>
                    </form>
                    

                    <div>
                      <span class="absolute top-0 right-0">
                        <svg
                          width="46"
                          height="46"
                          viewBox="0 0 46 46"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <circle
                            cx="1.39737"
                            cy="44.6026"
                            r="1.39737"
                            transform="rotate(-90 1.39737 44.6026)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="1.39737"
                            cy="7.9913"
                            r="1.39737"
                            transform="rotate(-90 1.39737 7.9913)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="13.6943"
                            cy="44.6026"
                            r="1.39737"
                            transform="rotate(-90 13.6943 44.6026)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="13.6943"
                            cy="7.9913"
                            r="1.39737"
                            transform="rotate(-90 13.6943 7.9913)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="25.9911"
                            cy="44.6026"
                            r="1.39737"
                            transform="rotate(-90 25.9911 44.6026)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="25.9911"
                            cy="7.9913"
                            r="1.39737"
                            transform="rotate(-90 25.9911 7.9913)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="38.288"
                            cy="44.6026"
                            r="1.39737"
                            transform="rotate(-90 38.288 44.6026)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="38.288"
                            cy="7.9913"
                            r="1.39737"
                            transform="rotate(-90 38.288 7.9913)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="1.39737"
                            cy="32.3058"
                            r="1.39737"
                            transform="rotate(-90 1.39737 32.3058)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="13.6943"
                            cy="32.3058"
                            r="1.39737"
                            transform="rotate(-90 13.6943 32.3058)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="25.9911"
                            cy="32.3058"
                            r="1.39737"
                            transform="rotate(-90 25.9911 32.3058)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="38.288"
                            cy="32.3058"
                            r="1.39737"
                            transform="rotate(-90 38.288 32.3058)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="1.39737"
                            cy="20.0086"
                            r="1.39737"
                            transform="rotate(-90 1.39737 20.0086)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="13.6943"
                            cy="20.0086"
                            r="1.39737"
                            transform="rotate(-90 13.6943 20.0086)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="25.9911"
                            cy="20.0086"
                            r="1.39737"
                            transform="rotate(-90 25.9911 20.0086)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="38.288"
                            cy="20.0086"
                            r="1.39737"
                            transform="rotate(-90 38.288 20.0086)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                        </svg>
                      </span>
                      <span class="absolute bottom-0 left-0">
                        <svg
                          width="46"
                          height="46"
                          viewBox="0 0 46 46"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <circle
                            cx="1.39737"
                            cy="44.6026"
                            r="1.39737"
                            transform="rotate(-90 1.39737 44.6026)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="1.39737"
                            cy="7.9913"
                            r="1.39737"
                            transform="rotate(-90 1.39737 7.9913)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="13.6943"
                            cy="44.6026"
                            r="1.39737"
                            transform="rotate(-90 13.6943 44.6026)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="13.6943"
                            cy="7.9913"
                            r="1.39737"
                            transform="rotate(-90 13.6943 7.9913)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="25.9911"
                            cy="44.6026"
                            r="1.39737"
                            transform="rotate(-90 25.9911 44.6026)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="25.9911"
                            cy="7.9913"
                            r="1.39737"
                            transform="rotate(-90 25.9911 7.9913)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="38.288"
                            cy="44.6026"
                            r="1.39737"
                            transform="rotate(-90 38.288 44.6026)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="38.288"
                            cy="7.9913"
                            r="1.39737"
                            transform="rotate(-90 38.288 7.9913)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="1.39737"
                            cy="32.3058"
                            r="1.39737"
                            transform="rotate(-90 1.39737 32.3058)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="13.6943"
                            cy="32.3058"
                            r="1.39737"
                            transform="rotate(-90 13.6943 32.3058)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="25.9911"
                            cy="32.3058"
                            r="1.39737"
                            transform="rotate(-90 25.9911 32.3058)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="38.288"
                            cy="32.3058"
                            r="1.39737"
                            transform="rotate(-90 38.288 32.3058)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="1.39737"
                            cy="20.0086"
                            r="1.39737"
                            transform="rotate(-90 1.39737 20.0086)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="13.6943"
                            cy="20.0086"
                            r="1.39737"
                            transform="rotate(-90 13.6943 20.0086)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="25.9911"
                            cy="20.0086"
                            r="1.39737"
                            transform="rotate(-90 25.9911 20.0086)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                          <circle
                            cx="38.288"
                            cy="20.0086"
                            r="1.39737"
                            transform="rotate(-90 38.288 20.0086)"
                            fill="white"
                            fill-opacity="0.44"
                          />
                        </svg>
                      </span>
                    </div>
                  </div>                                        
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>

<!-- Modal 1-->
              <div class="modal fade" id="action-staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="action-staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title font-bold" id="staticBackdropLabel"><span class="underline"></span> <%= campagne.title %></h5>
                      <button type="button" class="btn bg-gray-400 btn-secondary" data-bs-dismiss="modal">
                      Fermer
                      </button>
                    </div>
                    <div class="modal-body">
                      <div role="alert" class="container mx-auto md:w-full max-w-lg">
                        <div class="relative py-8 px-2 md:px-10 bg-white shadow-md rounded border border-gray-400">
                        
                          <h1 class="text-gray-800 font-lg font-bold tracking-normal leading-tight mb-4">Informations de Dons</h1>
                            <label for="name" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Nom Complet</label>
                            <input id="name" class="mb-3 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 
                            font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border" placeholder="Konan James" />
                            
                            <label for="email2" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">N° de la Carte</label>
                            <div class="relative mb-3 mt-2">
                              <div class="absolute text-gray-600 flex items-center px-4 border-r h-full">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-credit-card" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" />
                                  <rect x="3" y="5" width="18" height="14" rx="3" />
                                  <line x1="3" y1="10" x2="21" y2="10" />
                                  <line x1="7" y1="15" x2="7.01" y2="15" />
                                  <line x1="11" y1="15" x2="13" y2="15" />
                                </svg>
                              </div>
                              <input id="email2" class="text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-16 text-sm border-gray-300 rounded border" placeholder="XXXX - XXXX - XXXX - XXXX" />
                            </div>
                            <label for="expiry" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Date D'Expiration</label>
                            <div class="relative mb-3 mt-2">
                              <div class="absolute right-0 text-gray-600 flex items-center pr-3 h-full cursor-pointer">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-event" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" />
                                  <rect x="4" y="5" width="16" height="16" rx="2" />
                                  <line x1="16" y1="3" x2="16" y2="7" />
                                  <line x1="8" y1="3" x2="8" y2="7" />
                                  <line x1="4" y1="11" x2="20" y2="11" />
                                  <rect x="8" y="15" width="2" height="2" />
                                </svg>
                              </div>
                              <input id="expiry" class="text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border" placeholder="MM/YY" />
                            </div>
                            <label for="cvc" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">CVC</label>
                            <div class="relative mb-5 mt-2">
                              <div class="absolute right-0 text-gray-600 flex items-center pr-3 h-full cursor-pointer">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-circle" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z"></path>
                                    <circle cx="12" cy="12" r="9"></circle>
                                    <line x1="12" y1="8" x2="12.01" y2="8"></line>
                                    <polyline points="11 12 12 12 12 16 13 16"></polyline>
                                </svg>
                              </div>
                              <input id="cvc" class="mb-8 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border" placeholder="MM/YY" />
                            
                            </div>
                            <div class="relative mb-5 mt-2">
                            <label class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Montant du Don</label><hr class="mb-3">
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                              <label class="form-check-label" for="inlineRadio1">10$</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" checked >
                              <label class="form-check-label" for="inlineRadio2">20$</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" >
                              <label class="form-check-label" for="inlineRadio3">50$</label>
                            </div>

                              <input class="mb-8 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border" placeholder="Autres montant" />
                            
                            </div>

                            <div class="flex items-center justify-start w-full">
                                <button class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-700
                                transition duration-150 ease-in-out hover:bg-green-600 bg-green-700 rounded
                                text-white px-8 py-2 text-sm">Don Mensuel</button>
                                <button class="focus:outline-none focus:ring-2 focus:ring-offset-2  focus:ring-gray-400 ml-3
                                bg-gray-300 transition duration-150 text-gray-600 ease-in-out hover:border-gray-400
                                  hover:bg-gray-300 border rounded px-8 py-2 text-sm" >Une Fois</button>
                            </div>
                            <button class="cursor-pointer absolute top-0 right-0 mt-4 mr-5 text-gray-400 hover:text-gray-600 transition duration-150 ease-in-out rounded focus:ring-2 focus:outline-none focus:ring-gray-600" onclick="modalHandler()" aria-label="close modal" role="button">
                                <svg  xmlns="http://www.w3.org/2000/svg"  class="icon icon-tabler icon-tabler-x" width="20" height="20" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" />
                                    <line x1="18" y1="6" x2="6" y2="18" />
                                    <line x1="6" y1="6" x2="18" y2="18" />
                                </svg>
                            </button>
                          </div>

                        
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn bg-red-500 text-white font-semibold">Je Confirme Mon Don</button>

                    </div>
                  </div>
                </div>
              </div>


      </div>
    </section>
      </div>
    <!-- ====== Blog Details Section End -->
  <!-- footer -->
<%= render "welcome/shared/footer" %>
<!-- preloader -->
<%= render "welcome/shared/preloader" %>

