
<%= form_for(@campagne,  inline_errors: true) do |f| %>
<!-- label_errors: true -->
  <div class="mt-2">
    <%= f.text_field  :title,  class:"form-control focus-none p-2 border rounded-md",
     placeholder:'Nom de la campagne ...' %>
  </div>
  <div class="my-8">
    <%= f.rich_text_area :content, hide_label:true,
     class:" bg-white border-2 rounded-md ",
      placeholder:'Contenu de la campagne ...' %>
  </div>

  <div class="my-8">
    <%= f.label :heroImg, 'Image de couverture' %>
    <div class="">
        <%= f.file_field :heroImg, class:"" %>
    </div>
 </div>

  <div class="group">
    <%= f.date_field :start_date, class:" p-2 border rounded-md" %>
    <%= f.text_field :amount, 
       hide_label:true , placeholder:"Montant prévisionnel...",
        class:"p-2 border outline-none rounded-md mx-12" %>
    
    <%= f.select :status, Campagne::STATUS, 
    class:"p-6 border border-blue-500 rounded-md",
     placeholder:'Status...' %>

  </div>

    
    <div class="form-actions mt-2">
      <%= f.submit "Créer Campagne", class:"p-2 border bg-green-500 font-semibold text-black" %>
    </div>
  
<% end %>

