<div class="bg-white p-4 m-4">
<%= form_for( @campagne) do |f|  %>
  <% if @campagne.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(campagne.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% @campagne.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-outline mt-2">
    <%= f.text_field  :title, label:"Nom du Projet", 
    class:"form-control focus-none p-2 border rounded-md",
     placeholder:"Titre de la campagne ..."  %>
  </div>
  
  <div class="my-8 bg-white p-1">

    <%= f.rich_text_area :content, hide_label:true,
      class:"border rounded-md ",
      placeholder:"Contenu de la Campagne ..."  %>
    </div>
  
    <div class="flex w-full">
        <div
            class="flex justify-between mx-4 my-4">
            <!-- component -->
            <div class="mb-2 mr-10">
                <%= image_tag("logo/logo-action.png", 
                    class:"h-10 w-10 rounded-full object-cover object-center ml-10",
                    alt:"Avatar Upload") %>
                <br>
                    <label class="cursor-pointer">
                        <span class="mt-2 text-base leading-normal px-4 py-2 bg-blue-500
                                                    text-white text-sm rounded-full">La Couverture:</span>
                        <%= f.file_field :heroImg, class:"hidden" %>
                    </label>
                </div>

                <div class="">
                    <%= f.label "Date Publication:" %>
                    <br>
                        <%= f.date_field :published, class:" p-2 border rounded-md" %>
                    </div>

                    <div class=" ml-10">   
                      <%= f.label 'Le Budget:' %>

                      <br>
                      <%= f.text_field  :amount, 
                          class:"form-control p-2 border rounded-md",
                          placeholder:"Le montant ..."  %>

                    </div>
                  
                    <div class=" ml-10">
                        <%= f.label 'Status:' %>
                        <br>
                            <%= f.select(:status, User::STATUS_ITEMS, { prompt: "Choisir" }, class:" p-2 bg-white rounded-none w-full select") %>
                        </div>
                    </div>
                </div>
            </div>
  </div>

  <div class="form-actions ml-12">
<%= f.submit "Créer la Campagne", class:"font-bold bg-blue-600 rounded-full text-white py-2 px-4" %>

  </div>

<% end %>

</div>