<div id="<%= dom_id medium %>">
  <p>
    <strong>Facebook:</strong>
    <%= medium.facebook %>
  </p>

  <p>
    <strong>Youtube:</strong>
    <%= medium.youtube %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= medium.twitter %>
  </p>

  <p>
    <strong>Instagram:</strong>
    <%= medium.instagram %>
  </p>

  <p>
    <strong>Linkedin:</strong>
    <%= medium.linkedin %>
  </p>

</div>
