<div id="<%= dom_id founder %>">
  <p>
    <strong>Title:</strong>
    <%= founder.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= founder.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= founder.user_id %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= founder.slug %>
  </p>

</div>
