<!-- Onglet Title -->
<% @title="Adhesion" %>

<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

     <%= f.text_field :first_name, class:"pl-2 outline-none border-none", placeholder:"Nom ..." %>
		  <%= f.text_field :last_name, class:"pl-2 outline-none border-none", placeholder:"Prénom..." %>
          <%= f.text_field :country, class:"pl-2 outline-none border-none", placeholder:"pays..." %>
          <%= f.text_field :country_code, collection: @continents, as: :grouped_select, group_method: :countries, class:"pl-2 outline-none border-none", placeholder:"pays code..." %>
          
      
            <%= f.text_field :contact, placeholder:"N° Tel ...", class:"pl-2 outline-none border-none" %>	
          
            <%= f.email_field :email, placeholder:"Addresse Email ...", class:"pl-2 outline-none border-none" %>			
      	
        <%= f.password_field :password, class:"pl-2 outline-none border-none", placeholder:"Mot de passe ..." %>				
      
      <%= f.submit "Activé votre compte", class:"block w-full bg-indigo-600 mt-4 py-2 rounded-2xl text-white font-semibold mb-2" %>
				
<% end %>

<%= render "devise/shared/links" %>


