<div id="<%= dom_id mission %>">
  <p>
    <strong>Avatar:</strong>
    <%= mission.avatar %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= mission.title %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= mission.message %>
  </p>

  <p>
    <strong>Campagne message:</strong>
    <%= mission.campagne_message %>
  </p>

  <p>
    <strong>Campagne avatar:</strong>
    <%= mission.campagne_avatar %>
  </p>

  <p>
    <strong>Projet message:</strong>
    <%= mission.projet_message %>
  </p>

  <p>
    <strong>Projet avatar:</strong>
    <%= mission.projet_avatar %>
  </p>

  <p>
    <strong>Mission text:</strong>
    <%= mission.mission_text %>
  </p>

  <p>
    <strong>Membership invited:</strong>
    <%= mission.membership_invited %>
  </p>

</div>
